@import "../public/css/plugins.css";
@import "../public/css/dark.css";
@import "../public/css/style.css";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css/effect-fade";

html {
  scroll-behavior: smooth;
}
.c-pointer {
  cursor: pointer;
}

/* .anchor_nav li.current {
  position: relative;
  transition: 1s all;
}
.anchor_nav .current::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--main-color);
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: 1s all;
  display: block;
}
.dark .anchor_nav .current::after {
  content: "";
  background: #fff;
} */

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  max-height: 392px;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-content {
  max-width: 400px !important;
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}
.main-menu li.active > a,
.header-navigation .main-menu ul > li.has-children.active > a:after {
  color: #ff344f !important;
}

span.current {
  color: unset !important;
}

.buttonSelectSelected {
  background-color: #ffc448;
  padding: .5em;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 14px;
  text-align: center;
  transition: all .5s ease-out;

}
.buttonSelectSelected:hover {
  cursor: pointer;
  background-color: #ffc448;

}

.buttonSelect {
  background-color: #ffffff;
  padding: .5em;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 14px;
  text-align: center;
  transition: all .5s ease-out;

}
.buttonSelect:hover {
  cursor: pointer;
  background-color: #ffc448;

}

.donationselectionsection {
  flex-direction: row;
}
.subscriptionItems {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 950px) {
  .subscriptionItems {
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }

}